<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contactEmailRot13</key>
	<string>ryyvbg@ybpxrezna.vasb</string>
	<key>contactName</key>
	<string>Elliot Lockerman</string>
	<key>description</key>
	<string>New shiny bundle for X.</string>
	<key>name</key>
	<string>Markdown-Outliner</string>
	<key>uuid</key>
	<string>D33E6C79-CF1C-4C40-BB35-AF31EC9C8876</string>
</dict>
</plist>
